body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.box {
    color: #fff;
    background-color: steelblue;
    position: absolute;
    cursor: move;
    z-index: 3;
}

.box-title {
    padding: 10px;
    border-radius: 100%;
}

.btnIcons {
    color: #fff;
    width: 2rem;
    height: 2rem;
    background-color: rgb(190, 21, 233);
    border-radius: 50%;
    margin: 2px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    transition: all 0.3s linear;
}

.btns.show .btnIcons {
    visibility: visible;
}

.btns.show .btnIcons:nth-of-type(1) {
    background-color: darkblue;
    left: 50%;
    top: -30px;
}

.btns.show .btnIcons:nth-of-type(2) {
    background-color: green;
    left: -30px;
    top: 50%;
}

.btns.show .btnIcons:nth-of-type(3) {
    background-color: skyblue;
    left: calc(100% + 30px);
    top: 50%;
}

.btns.show .btnIcons:nth-of-type(4) {
    left: 50%;
    top: calc(100% + 30px);
}